canvas {
    border: 1px solid black;
}

body {
    text-align: center;
    height: 100vh;
    width: 100%;
    background: radial-gradient( #fff, rgb(224, 15, 189)) center center no-repeat;
}

h3 {
    width: 90%;
    padding: 30px 10px;
    font-size: 18px;
}

button {
    display: block;
}